/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footerzone {
  position: relative;
  bottom: 0 !important;
  width: 100%;
  /* Set the fixed height of the footer here */

  
}



