@import url(http://fonts.googleapis.com/css?family=Open+Sans);

.fontOpen{
	font-family:"Open Sans";
	color: black;
}

.bootstrap-admin-navbar-side{
  background-color: #fff;
  color: black; 
}

.label {
  
  font-size: 105%;
  
}


.bootstrap-admin-navbar-side > li > a {
color: black;
}


body, ul, li, p, div
{
	margin: 0;
	padding: 0;
}

@font-face {
    font-family: myFont;
    src: url('fonts/aparajbi.ttf');
}
/** general **/

.frame
{

}
.header
{

}
.header .first-nav
{
	padding: 10px 0px;
	border-bottom: 1px solid #e8e8e8;
}
.header .first-nav ul
{
	font-family: myFont;
	float: right;
}
.header .first-nav ul li
{
	display: inline-block;
	font-size: 20px;
	color: #475470;
	font-style: italic;
	font-weight: bolder;
	margin-right: 20px;
}
.header .first-nav ul li.login
{
	
	font-family: arial;
	font-size: 14px;
	font-style: italic;
	font-weight: normal;
	color: #ffffff;
	margin-right: 0px;
	padding: 10px 20px;
	background-color: #97bc16;

}

.body
{
	
	
}
.body .left
{

}
.body .left .second-nav
{

}

.body .left .second-nav ul li
{	
	padding: 15px 20px;
	padding-left: 30px;
	border-bottom: 1px solid #e8e8e8;
}
.body .left .second-nav ul li.active
{	
	color: white;
	background-color: #475470;
}
.body .left .second-nav ul li a
{	
	color: #676767;
}
.body .left .second-nav ul li.active a
{	
	color: #ffffff;
}
.body .left .second-nav ul li a img
{	
	margin-right: 20px;
}

.body .left .second-nav .developer
{
	width: 100%;
	font-size: 12px;
	color: #9c9c9c;
}
.body .left .second-nav .developer ul
{
	padding: 50px;
}
.body .left .second-nav .developer ul li
{
	border: none;
	margin-bottom: 30px;
	padding: 0;
}
.body .left .second-nav .developer ul li img
{
	width: 100%;
}
.body .left .second-nav ul 
{	
	list-style: none;
}


/** general right section------------------------------------------------------**/

.body .right-section
{
	padding-bottom: 30px;
}

/** index ---------------------------------------------------------------------**/


.body .index-frame .right-section .program 
{
	margin-top: 50px;
	color: #475470;
}
.body .index-frame  .right-section .program a
{
	color: #475470;
}
.body .index-frame .right-section .program .title
{
	width: 100%;
	float: left;
}
.body .index-frame  .right-section .program .title .left
{
	float: left;
	padding: 7px 25px;
	background-color: #475470;
	color: white;
}
.body .index-frame  .right-section .program .title .link
{
	float: left;
	margin:0;
	background-color: #e5e8ee;
}
.body .index-frame  .right-section .program .title .link a
{
	float: left;
	padding: 7px 25px;
}

.body .index-frame .right-section .program .title .link img
{
	float: left;
	background-color: #9ca2b0;
	padding: 10px 10px;
}

.body .index-frame .right-section .program .content
{
	width: 100%;
	float: left;
	margin-top: 50px;
}
.body .index-frame .right-section .program .content .sample-program
{
	padding: 10px;
}
.body .index-frame .right-section .program .content .sample-program .title
{
	font-size: 25px;
	padding: 20px;
	word-break: break-all;
}
.body .index-frame .right-section .program .content .sample-program .desc
{
	font-size: 14px;
	border: 1px solid #e7e7e7;
	padding: 0px 20px;
	padding-bottom: 50px;
}
.body .index-frame .right-section .program .content .sample-program .desc a
{
	width: 60%;
	float: left;
	background-color: #97bc16;
	border: 1px solid white;
	padding: 5px 10px;
	text-align: center;
	color: white;
}
.body .index-frame .right-section .program .content .sample-program .desc p.par
{
	margin: 20px 0px;
	width: 100%;
	word-break: break-all;
	text-align: justify;
}



/**----------------------------------------------------------------------------**/

/** proram --------------------------------------------------------------------**/

.body .program-frame .right-section
{
	padding-bottom: 80px;
	border-left: 1px solid #dadada;
}
.body .program-frame .right-section .program .title-page
{
	width: 100%;
	background-color: #49659c;
	float: left;
	margin-bottom: 20px;
}
.body .program-frame .right-section .program .title-page div
{
	padding: 16px 20px;
	color: white;
}
.body .program-frame .right-section .program a
{
	color: #363636;
}
.body .program-frame .right-section .program .content .sample-program
{
	margin-bottom: 20px;
	padding: 6px;
	transition: all 0.425s;
	-webkit-transition: all 0.425s;
	-moz-transition: all 0.425s;
}
.body .program-frame .right-section .program .content .sample-program:hover
{
	margin-bottom: 20px;
	padding: 6px;
	background: #DDD;
}
.body .program-frame .right-section .program .content .sample-program .title
{
	font-size: 16px;
	font-weight: bolder;
	padding-top: 5px;
}
.detil img
{
	width: 100%;
}
.detil .row
{
	padding:5px;
	font-size: 17px;
	font-family: cambria;
	margin-bottom: 5px;
	border-bottom: 1px solid #dedede;
} 
.detil .row .first
{
	font-weight: bolder;
	margin-bottom: 3px;
} 
.detil img
{
	margin-bottom: 5px;
} 
/**----------------------------------------------------------------------------**/

/**about-------------------------------------------------------------------**/

.body .about-frame .right-section
{
	padding-bottom: 80px;
	border-left: 1px solid #dadada;
}
.body .about-frame .right-section .about .title-page
{
	width: 100%;
	background-color: #49659c;
	float: left;
	margin-bottom: 20px;
}
.body .about-frame .right-section .about .title-page div
{
	padding: 16px 20px;
	color: white;
}
.body .about-frame .right-section .about .content
{
	padding: 20px;
}
.body .about-frame .right-section .about .content .content-title
{
	font-size: 20px;
	margin: 10px;
}

/**----------------------------------------------------------------------------**/

/**about-------------------------------------------------------------------**/

.body .tim-frame .right-section
{
	padding-bottom: 80px;
	border-left: 1px solid #dadada;
}
.body .tim-frame .right-section .tim .title-page
{
	width: 100%;
	background-color: #49659c;
	float: left;
	margin-bottom: 20px;
}
.body .tim-frame .right-section .tim .title-page div
{
	padding: 16px 20px;
	color: white;
}
.body .tim-frame .right-section .tim .content
{
	padding: 20px;
}
.body .tim-frame .right-section .tim .content .content-title
{
	font-size: 20px;
	margin: 10px;
}
.body .tim-frame .right-section .tim .content .position
{
	font-size: 20px;
	margin: 10px;
}

/**----------------------------------------------------------------------------**/

/**contact-------------------------------------------------------------------**/

.body .contact-frame .right-section
{
	padding-bottom: 80px;
	border-left: 1px solid #dadada;
}
.body .contact-frame .right-section .contact .title-page
{
	width: 100%;
	background-color: #49659c;
	float: left;
	margin-bottom: 20px;
}
.body .contact-frame .right-section .contact .title-page div
{
	padding: 16px 20px;
	color: white;
}
.body .contact-frame .right-section .contact .content
{
	padding: 20px;
	text-align: center;
}
.body .contact-frame .right-section .contact .content ul li
{
	list-style: none;
}
.body .contact-frame .right-section .contact .content .map
{
	margin-bottom: 50px;
}
.body .contact-frame .right-section .contact .content .map img
{
	margin-bottom: 20px;
}
.body .contact-frame .right-section .contact .content .content-title
{
	font-size: 20px;
	margin: 10px;
}


/**----------------------------------------------------------------------------**/

/** footer -----------------------------------------------------------------**/
.footer
{
	text-align: right;
	padding-top: -20px;
	
}

.footer a
{
	color: #444;
}

/** bootstrap -----------------------------------------------------------------**/

.carousel-control.right, .carousel-control.left
{
	background: none;
}
.col-md-3, .col-md-9
{
	padding: 0;
}
.col-md-4
{
	padding-left: 0;
}
.carousel-caption
{
	text-align: right;
	background-color: rgba(56,59,75,0.8);
	left: 0;
	top: 0;
	bottom: 0;
	width: 30%;
	padding: 40px;
	text-shadow:none; 
}
.carousel-caption p, a
{
	color: white;

}
.carousel-caption .link
{
	width: 60%;
	float: right;
	background-color: #97bc16;
	border: 1px solid white;
	margin-top: 20px;
	padding: 7px 10px;
	text-align: center;
}
.carousel-caption a
{
	
}
.carousel-caption p.title
{
	margin-top: 50px;
	color: white;
	font-weight: bold;
	font-size: 30px;
}

.carousel-control
{
	top:80%;
}
.carousel-control.right, .carousel-control.left
{
	bottom: 0;
}
.progress
{
	width: 100%;
	margin-bottom: 5px;
}
.progress-bar, .progress
{
	border: none;
	box-shadow: none;
	border-radius: 0;
}
.item img
{
	width: 100%;
}
.carousel-inner > .item > img {
	height: 450px;
	width: auto !important;
	min-width: 100%;
	max-width: 9999px;
}
/**----------------------------------------------------------------------------**/




/**admin**/
.form	
{
	margin-left: 150px;
	margin-top: 180px;
}

.form form
{
	font-family: cambria;
	border-left: 1px solid #dadada;
	padding: 40px;
}
.form form .form-title
{
	font-style: italic;
}
.form form .form-title h4
{
	color: #6b6b6b;
	font-size: 20px;

}
.form form .form-title img
{
	margin-left: 10px;
}
.form form input 
{
	width: 300px;
	border-radius: 0;
	font-style: italic;
}
.form form input[type="submit"]
{
	width: 150px;
	background-color: #474747;
	border: 1px solid #474747;
	font-style: normal;
	color: white;
}

/** admin-header **/

.admin-header
{
	font-family: cambria;
	font-style: italic;
	width: 100%;
	border-bottom: 1px solid #efe6ea;
}
.admin-header ul li
{
	display: inline-block;
	color: #4c4c4c;
	font-size: 20px;
	padding: 5px 20px;
	margin: 10px;
}

.admin-header ul li a
{
	color: #4c4c4c;
}

.admin-header ul li.logout
{
	right: 0;
	background-color: #d83892;
	color: white;
	font-size: 14px;
}
.admin-header ul li.logout a
{
	color: white;
}

/** admin-content **/

.admin-content
{
	width: 100%;
	font-family: cambria;
	padding-bottom: 50px;
}
/** admin home **/
.admin-content .home
{
	margin-top: 100px;
	width: 100%;
}
.admin-content .home .date
{
	width: 100%;
	text-align: center;
	font-size: 30px;
	color: #d83892;
	margin-bottom: 30px;
}
.admin-content .home .data
{
	width: 100%;
	text-align: center;
}

.admin-content .home .data ul li
{
	box-sizing:border-box;
	display: inline-block;
	padding: 45px;
	margin: 10px;
	color: white;
}
.admin-content .home .data ul li p
{
	font-size: 20px;
}
.admin-content .home .data ul li p.number
{
	font-size: 60px;
}
.admin-content .home .data ul li.program
{
	background-color: #EB57AA;
	border: 5px solid #ffffff;

	-webkit-transition:all .3s;
	-moz-transition:all .3s;
	-ms-transition:all .3s;
	-o-transition:all .3s;
    transition:all .3s;
}
.admin-content .home .data ul li.donatur
{
	background-color: #6F57BA;
	border: 5px solid #ffffff;

	-webkit-transition:all .3s;
	-moz-transition:all .3s;
	-ms-transition:all .3s;
	-o-transition:all .3s;
    transition:all .3s;
}

.admin-content .home .data ul li.program:hover
{
	background-color: #d83892;
	border: 5px solid #ff91cf;
}
.admin-content .home .data ul li.donatur:hover
{
	background-color: #533e97;
	border: 5px solid #a68bff;
}

/** admin mail **/
.admin-content .mail
{
	margin-top: 100px;
	width: 100%;
}
.admin-content .mail form
{
	width: 40%;
	margin: 0 auto;
	text-align: center;
}
.admin-content .mail form input
{
	border-radius: 0;
}
.admin-content .mail form input[type="submit"]
{
	width: 40%;
	margin: 0 auto;
	background-color: #534186;
	color: white;
	border: 1px solid #534186;
}

/** admin program **/	
.admin-content .program
{

}
.admin-content .program ul 
{
	padding: 0;
}
.admin-content .program ul.special li
{
	padding: 5px;
	width: 200px;
	margin: 5px;
	color: white;
	display: inline-block;
}
.admin-content .program ul li.create
{
	background-color: #d83892;
}
.admin-content .program ul li.create span
{
	margin:0 12px;
	font-weight: bold;
}
.admin-content .program ul li.sort select
{
	background-color: #4483b0;
	width: 100%;
	padding: 5px;
	border: 1px solid #4483b0;
	color: white;
}
.admin-content .program ul li select .test
{
	height: 100px;
}
.admin-content .program .table
{
	width: 100%;
}
.admin-content .program .table table
{
	font-family: open sans;
	width: 100%;
}

.admin-content .program .table table th,td
{
	border-top: 1px solid #efe6ea;
	border-bottom: 1px solid #efe6ea;
}
.admin-content .program .table table th, td
{
	padding: 10px;
}
.admin-content .program .table table th.nomor
{
	width: 50px;
}

.admin-content .newprogram .title
{
	width: 100%;
	text-align: center;
	font-size: 30px;
	margin: 30px;
}

.container form
{
	padding: 30px;
}
.col-sm-10 input[type="text"]
{
	width: 100%;
	padding: 5px;
	border-radius: 3px;
	border: 1px solid #d1d1d1;
}
.col-sm-10 textarea
{
	width: 100%;
	padding: 5px;
	border-radius: 3px;
	border: 1px solid #d1d1d1;
}

/** admin-master **/


.admin-content .master
{
	padding: 40px;
}
.admin-content .master ul li
{
	background-color: #d83892;
	list-style: none;
	width: 200px;
	padding: 5px;
}
.admin-content .master ul li span
{
	margin-left: 10px;
	margin-right: 20px;
}

.div-gambar div
{

}
.div-gambar div a
{
	color: #4c4c4c;
}
.div-item div
{
	margin: 5px 0;
}
.div-item.col-sm-10
{
	padding: 0;
	margin: 0;
}
.div-item .col-sm-6
{
	width: 50%;
}
.div-item div a
{
	color: #4c4c4c;
	margin-left: 17px;
}

.container {
	padding-top: 10px;
}

.img-table {
	max-width: 150px;
	height: auto;
}

.badge {
  display: inline-block;
  min-width: 10px;
  padding: 5px 14px;
  font-size: 15px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #3EC13E;
  border-radius: 10px;
}

.alert ul {
	margin-left: 25px
}

.img-thumb {
	height: 100px;
	width: auto;
}

textarea {
	min-height: 200px;
}

.alert ul, ul.padded {
	padding-left: 30px;
}

th, td 
{
    text-align:left; 
    vertical-align:middle;
}

.loginButton{
	background-color: #52b2f7;
	padding:12px 25px 12px 25px;	
	color: white;
	border-color: transparent;
	font-style: normal;
	font-family: sans-serif;
	font-size: 12px;
	text-decoration: none;
	margin-right: -20px;
}

.loginButton:hover{
	text-decoration: none;
	background-color: #626262;	
	color: #fff;	
	/*#475470*/
}

