@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Basic);
@import url(http://fonts.googleapis.com/css?family=Playball);
@import url(http://fonts.googleapis.com/css?family=Satisfy);

html, body {
	height:100%;
	font-family: "Basic";	
    background-color: #f5f5f5;
}

.judulKeren{
    font-family: "Satisfy";
    font-size: 50pt;
}

.lebihKecil{
    font-family: "Satisfy";
    font-style: 40pt;
}

hr{
    border-color: #49b5fd -moz-use-text-color -moz-use-text-color;
}

.carousel,
.item,
.active {
	height:100%;
}

.carousel-inner {
	height:100%;
}

.fill {
	width:100%;
	height:100%;
	background-position: center;
	background-size: cover;
}

.section {
	margin: 50px 0;
}

footer {
	margin: 30px 0;
}

.navbar-inverse {
    background-color: #49b5fd;
    border-color: #49b5fd;
}

.fontBlack{
	color: black;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.carousel-control.left {
    background-image: linear-gradient(to right, rgba(38, 119, 152, 0.0) 0%, transparent 100%);
    background-repeat: repeat-x;
}

.carousel-control.right {
    right: 0px;
    left: auto;
    background-image: linear-gradient(to right, transparent 0%, rgba(0, 0, 0, 0.0) 100%);
    background-repeat: repeat-x;
}

.carousel-control .glyphicons-chevron-left, .carousel-control .glyphicons-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: -15px;
    font-size: 70px;
}

.carousel-caption {
    right: 20%;
	left: 20%;
	padding-bottom: 360px;
	color: #999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.0);

}

.well{
    background-color: #fff;
}

.carousel-caption > h1{
	font-size: 45pt;
	color: #444;
	margin-bottom: 10px;
}

.carousel-caption > h3{
	font-size: 	20pt;
	color: #999;
	margin-top: 10px;
	margin-bottom: 30px;	

}

.carousel-caption > a{
	font-size: 	10pt;
	color: #fff;
	margin-top: 10px;
	margin-bottom: 10px;
	text-decoration: none;
	background-color: #49b5fd;
	padding: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom: 8px solid #444;
    transition: all 0.2s ease 0s;
}

.carousel-caption > a:hover{
        text-decoration: none;
        font-size:  11pt;        
}


.navbar-inverse .navbar-nav > li > a:hover{
    background-color: #888;
    color: white;    
	border-width: thick;	
	border-color: #49b5fd;

	
}

.buttonBiasa{
    background-color: #49b5fd;
    padding: 10px;
    text-decoration: none;
    margin-top: 10px;
    width: 100%;
    border-radius: 0px;
    border: transparent;
    font-size: inherit;    

}

.buttonBiasa:hover{
    background-color: #888;
    text-decoration: none;
}

.col-sm-4{
    margin-bottom: 100px;
}

.active{
    background-color: black;
    color: white;    
	border-width: thick;	
	border-color: #49b5fd;
}

.paddingUp{
	padding-top: 100px;
}

.colorSubcateg{
	color: #49b5fd;
}

.colorGrey{
	color: #999;
}

.img-responsive2 {
    display: block;
    max-width: 30%;
    height: auto;
}

.img-responsive3{
    display: block;
    max-width: 100px;
    max-height: 100px;
    min-width: 100px;
    min-height: 100px;
}

.img-responsive4{
    display: block;
    max-width: 100%;
    max-height: 300px;
    min-width: 100%;
    min-height: 300px;
}

.img-responsive6{
    display: block;
    max-width: 200px;
    max-height: 200px;
    min-width: 200px;
    min-height: 200px;
    border-radius: 50%;
    margin-left: 20%;
    border-color:  #49b5fd;
    border-style: solid;
    border-width: thick;

}

.img-responsive6:hover, .img-responsive4:hover, .img-responsive3:hover{
    opacity: 0.6;
}

.fit{
	width: 30%;
}

.block3 {
    overflow: hidden;
    margin-top: -2px;
    margin-bottom: 20px;
}

.block3+.block3 {
    margin-top: 10px;
}

.block3+.block3 +.block3 {
    margin-top: 10px;
}

.block3 .fleft {
    margin-top: 5px;
    margin-right: 20px;

}

.block3 .text1 {
    margin-bottom: 22px;
    font-weight: normal;
    line-height: 24px;

}

.block3 .text1 time {
    display: block;

}

.img_inner {
    max-width: 100px;
    max-height: 100px;
    min-height: 100px;
    min-width: 100px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 15px;
    margin-top: 3px;
}

.block3 .fleft {
    margin-top: 5px;
    margin-right: 20px;
}
.fleft {
    float: left;
    width: auto !important;
    margin-right: 30px;
    margin-bottom: 0px;
}

.block3 .text1 {
    margin-bottom: 22px;
    font-weight: normal;
    line-height: 24px;
}
.color1 {
    color: #535151;
}
.text1 {
    font-size: 15px;
    margin-bottom: 2px;
    line-height: 20px;
}

.wrapper, .extra_wrapper {
    overflow: hidden;
}

.block3 .text1 > a{
	color: black;
	}

.toCenter{
    text-align: center;
}

.removePadding{
    padding-left: 10px;    
    padding-right: 10px;    
    background-color: #008b8b;
    color: white;
    padding-bottom: 10px;
}

.imageWelcome{
    position: absolute;
    margin-top: -55%;
    margin-left: 167px;
}

.fontKriwil{
    font-family: "Satisfy";
}

.wellLogin{
    width: 70%;
    margin-left: 200px;
    background-color: #53d7a9;
    color: white;
    border-radius: 0px;
    border-color: transparent;
    padding: 30px;    
    box-shadow: rgba(0, 0, 0, 0.5) 0 5px 10px;
}


.image2{
min-width: 300px;
min-height: 200px;
margin-bottom: 20px;
}

.controlEdit{

height: 50px;

border: 2px solid #fff;
border-radius: 0px;
}

.controlEdit:focus {
border-color: #ffd700;
}

.keepBottom{
    margin-top: 150px;
}

.buttonLogin{    
    background-color: #6b8e23;
    border-color: #6b8e23;
    border-radius: 0px;
    width: 100%;
}

.buttonLogin:hover{    
    background-color: #ffd700;
    border-color: #ffd700;
}

.buttonMore{
font-size: 10pt;
color: #fff;
margin-top: 10px;
margin-bottom: 10px;
text-decoration: none;
background-color: #49b5fd;
padding: 10px;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
border-bottom: 8px solid #444;
transition: all 0.5s ease 0s;
}

.buttonMore:hover{
font-size: 12pt;
text-decoration: none;
border-bottom: 8px solid #444;
}