/*	################################################################

	Author: Carlos Alvarez
	URL: http://alvarez.is

	Project Name: SOLID - Bootstrap 3 Theme
	Version: 1.0
	URL: http://alvarez.is
	
################################################################# */ 
@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,900);
@import url(http://fonts.googleapis.com/css?family=Lato:400,900);
@import url("prettyPhoto.css") screen;
@import url("hoverex-all.css") screen;

/*	################################################################
	1. GENERAL STRUCTURES
################################################################# */
	* { 
		margin: 0;
		padding: 0px;
	} 

body { 
	background: #ffffff; 
	margin: 0; 
	height: 100%; 
	color: #384452;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
}

p { 
	padding: 0; 
	margin-bottom: 12px; 
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 14px; 
	line-height: 24px;
	color: #384452; 
	margin-top: 10px; 
}

img {
	height: auto;
	max-width: 100%;
}

a { 
	padding: 0;
	margin: 0;
	text-decoration: none; 
	-webkit-transition: background-color .4s linear, color .4s linear;
	-moz-transition: background-color .4s linear, color .4s linear;
	-o-transition: background-color .4s linear, color .4s linear;
	-ms-transition: background-color .4s linear, color .4s linear;
	transition: background-color .4s linear, color .4s linear;
}
a:hover,
a:focus {
  text-decoration: none;
  color:#01b2fe;
}

::-moz-selection  {
	color: #fff;
	text-shadow:none;
	background:#2B2E31;
}
::selection {
	color: #fff;
	text-shadow:none;
	background:#2B2E31;
}

.centered {
	text-align: center
}

/*	################################################################
	BOOTSTRAP MODIFICATIONS & TWEAKS
################################################################# */
.navbar {
	min-height: 50px;
	padding-top: 10px;
	margin-bottom: 0px;
}

.navbar-brand {
	padding-top: 0px;
}

.navbar-header .navbar-brand {
	color: white;
}

.navbar-default .navbar-nav > li > a {
	color: white;
	font-weight: 700;
	font-size: 18px;
	margin-bottom: 10px;
}

.navbar-default .navbar-nav > li > a:hover {
	color: #00b3fe;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #00b3fe;
	background-color: transparent;
}

.navbar-default {
	background-color: #384452;
	border-color: transparent;
}

/*modif*/

.keranjangul > li > a {
	color: white;
	font-weight: 700;
	font-size: 18px;
	margin-bottom: 10px;
}

.keranjangul > li > a:hover {
	color: #00b3fe;
}

.keranjangul > .active > a, .keranjangul > .active > a:hover, .keranjangul > .active > a:focus {
	color: #00b3fe;
	background-color: transparent;
}

.keranjangul {
	background-color: #384452;
	border-color: transparent;
}

.keranjangmenu{
    border-color: #e7e7e7;
}
.keranjangmenu{
    margin-right: 0;
    margin-left: 0;
}
.keranjangmenu{
    padding-left: 0;
    padding-right: 0;
	padding-top: 3px;
}
.keranjangmenu {
    display: block!important;
    height: auto!important;
    padding-bottom: 0;
    overflow: visible!important;
}
.keranjangmenu {
    width: auto;
    border-top: 0;
    box-shadow: none;
}
.keranjangmenu {
    max-height: 340px;
    overflow-x: visible;
    /*padding-right: 15px;
    padding-left: 15px;*/
    -webkit-overflow-scrolling: touch;
}
.keranjangul {
    margin-right: -15px;
}
.keranjangul {
    float: right!important;
}
.keranjangul {
    float: left;
    margin: 0;
}
.keranjangul {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
.keranjangul>li {
    float: left;
}
.keranjangul>li {
    position: relative;
    display: block;
}
.keranjangul > li > a {
    color: white;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 10px;
}

.keranjangul>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
}
.keranjangul>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
}
.keranjangul>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
/*modif*/

.dropdown-menu {
	background: #384452;
}

.dropdown-menu > li > a {
	color: white;
	font-weight: 700;
	font-size: 12px;
}

.btn-theme {
  color: #fff;
  background-color: #384452;
  border-color: #384452;
  margin: 4px;
}
.btn-theme:hover,
.btn-theme:focus,
.btn-theme:active,
.btn-theme.active,
.open .dropdown-toggle.btn-theme {
  color: #fff;
  background-color: #00b3fe;
  border-color: #00b3fe;
  content: 'ADD';
}


.dmbutton:hover,
.dmbutton:active,
.dmbutton:focus{
	color: #ffffff;
	background-color: #222222;
	border-color: #ffffff;
}
.dmbutton {
	background:rgba(0, 0, 0, 0);
	border: 1px solid #ffffff;
	color: #ffffff;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	padding-top: 1.025rem;
	padding-right: 2.25rem;
	letter-spacing:0.85px;
	padding-bottom: 1.0875rem;
	padding-left: 2.25rem;
	font-size: 1.55rem;
	cursor: pointer;
	font-weight: normal;
	line-height: normal;
	margin: 0 0 1.25rem;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	-webkit-transition: background-color 300ms ease-out;
	-moz-transition: background-color 300ms ease-out;
	transition: background-color 300ms ease-out;
	-webkit-appearance: none;
	font-weight: normal !important;
}

.mtb {
	margin-top: 80px;
	margin-bottom: 80px;
}

.mb {
	margin-bottom: 60px;
}

.mt {
	margin-top: 60px;
}

.hline {
	border-bottom: 2px solid #384452;
}

.hline-w {
	border-bottom: 2px solid #ffffff;
	margin-bottom: 25px;
}
/*	################################################################
	SITE WRAPS
################################################################# */

#headerwrap {
	background-color: #ffffff;
	/*padding-top: 80px;
	padding-bottom: 20px;*/
	padding-top: 70px;
	padding-bottom: 0px;
	text-align: center;
}

#headerwrap h3, h5 {
	color: white;
	font-weight: 400;
}

#headerwrap h5{
	margin-top: 20px !important;
}

#headerwrap h1 {
	color: white;
	margin-bottom: 25px;
}

#headerwrap .img-responsive {
	margin: 0 auto;
}

/* Services Wrap */
#service {
	  margin-top: 10px;
  	  margin-bottom: 120px;
}

#service i {
	color: #00b3fe;
	font-size: 60px;
	padding: 15px;
}

/* Portfolio Wrap */
#portfoliowrap {
	padding-top: 60px;
	margin-bottom: 60px;
	display: block;
	text-align: center
}

#portfoliowrap h3 {
	margin-bottom: 25px;
}

.portfolio {
	padding:0 !important;
	margin:0 !important;
	display:block;
}


.portfolio-item .title:before {border-radius:0; display:none}
.portfolio-item p {margin:0px 0 30px;}
.portfolio-item h3 {margin:-10px 0 10px; font-size:16px; text-transform:uppercase;}


.tpl6 h3
{
	color:#fff;
	margin:0;
	padding:40px 5px 0;
	font-size:16px;
	text-transform:uppercase;
}
.tpl6 .dmbutton
{
	display:inline-block;
	margin:30px 5px 20px 5px;
	font-size:13px;
}

.tpl6 .bg
{
	height:100%;
	width:100%;
	background-color:#00b3fe;
	background-color:rgba(0,179,254,.9);
	text-align:center;
}

/* Testimonials Wrap */
#twrap {
	background: url(../../img/t-back.jpg) no-repeat center top;
	margin-top: 0;
	margin-bottom: 0;
	padding-top:60px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 450px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#twrap i {
	font-size: 50px;
	color: white;
	margin-bottom: 25px;
}

#twrap p {
	color: white;
	font-size: 15px;
	line-height: 30px;
}

/* clients logo */
#cwrap {
	background: #f7f7f7;
	margin-top: 0px;
	padding-top: 80px;
	padding-bottom: 100px;
}

#cwrap h3 {
	margin-bottom: 60px;
}

/* Footer */
#footerwrap {
	padding-top: 60px;
	padding-bottom: 60px;
	background: #384452;
}

#footerwrap p {
	color: #bfc9d3;
}

#footerwrap h4 {
	color: white;
}

#footerwrap i {
	font-size: 30px;
	color: #bfc9d3;
	padding-right: 25px;
}

#footerwrap i:hover {
	color: #00b3fe
}

/*	################################################################
	PAGE CONFIGURATIONS
################################################################# */
/* General Tweaks */

#blue {
	  background: #00b3fe;
	  margin-top: 60px;
	  margin-bottom: 60px;
	  padding-top: 30px;
	  padding-bottom: 10px;
}

#blue h3 {
	color: white;
	margin-left: 15px;
}

.ctitle {
	color: #00b3fe;
	font-weight: 700;
	margin-bottom: 15px;
}

csmall {
	font-size: 12px;
	color: #b3b3b3;
}
csmall2 {
	font-size: 12px;
	color: #f39c12
}

.spacing {
	margin-top: 40px;
	margin-bottom: 40px;
}

.badge-theme {
	background: #00b3fe;
}

/* Contact Page */
#contactwrap {
	background: url(../img/contact.jpg) no-repeat center top;
	margin-top: -60px;
	padding-top:0px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 400px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Blog Page */
.popular-posts { 
	margin: 0px;
	padding-left: 0px;
	}
	
.popular-posts li {
	list-style: none; 
	margin-bottom: 20px; 
	min-height: 70px;
}
.popular-posts li a, 
.popular-posts li a:hover {
	color:#2f2f2f; 
	text-decoration: none;
	}
	
.popular-posts li img {
	float: left; 
	margin-right: 20px;
	}
	
.popular-posts li em {
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	color: #b3b3b3
	}

.popular-posts p {
	line-height: normal;
	margin-bottom: auto;
}	

.share i {
	padding-right: 15px;
	font-size: 18px;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}

.btn_proses{
	font-size: 18px;
	background-color: #336699;
	margin-top: 50px;
	border-color: #336699;
}

.modal-dialog{
	width: auto;
}

.modal-title{
	font-size: 24px;
	text-align: center;
}

.modal-body p{
	font-size: 18px;
}

.thumbnail {
	height:500px;
}

.headline{
	text-align: center;
	margin-top:100px; 
	margin-bottom:100px
}

h3.headline {
    position: relative;
    z-index: 1;
}

.headline:before {
    border-top: 2px solid #dfdfdf;
    content:"";
    margin: 0 auto; /* this centers the line to the full width specified */
    position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
    top: 50%; left: 0; right: 0; bottom: 0;
    width: 95%;
    z-index: -1;
}

.headline span{
        /* to hide the lines from behind the text, you have to set the background color the same as the container */ 
        background: #F5F5F5; 
        padding: 0 15px; 
}

.content-form{
	width: 30%;
	margin: auto;
}

.no-margin{
	margin: 0 !important;
}

.backg-slider{
	-webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}

.quote{
	font-size:24px;
}

.keranjangmenu.mobile, .keranjangmenu.mobile>ul.keranjangul{
	display: none;
}

@media(max-width: 800px){
	.col-paket{
		margin-bottom: 50px;
	}

	.content-form{
		width: 80%;
	}
	
	.desktop{
		position: absolute;
	   top: -9999px;
	   left: -9999px;
	}
	
	.keranjangmenu.mobile, .keranjangmenu.mobile>ul.keranjangul{
		display: block!important;
	}
}

@media(max-width: 640px){
	#headerwrap {
	    padding-top: 60px;
	}

	#headerwrap h3, h5 {
	    padding-left: 10px;
	}

	.mtb{
		height: auto !important;
	}
}

@media(max-width: 360px){
	.quote{
		font-size:14px;
	}

	#twrap p{
		line-height: 20px;
	}
}

@media(max-width: 320px){
	.headline{
		font-size: 18px;
	}
}