{% load static %}
<html>
<head>
	<title>Admin</title>

	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}">
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-admin-theme.css' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap-admin-theme-change-size.css' %}">
	<link rel="stylesheet" href="{% static 'css/jquery.easy-pie-chart.css' %}">
	<link rel="stylesheet" href="{% static 'css/jquery.easy-pie-chart_custom.css' %}">

	<link rel="stylesheet" href="{% static 'css/style-admin.css' %}">
	<link rel="stylesheet" href="http://cdn.datatables.net/plug-ins/3cfcc339e89/integration/bootstrap/3/dataTables.bootstrap.css">
	<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/tinymce/tinymce.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
	<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.4/js/jquery.dataTables.js"></script>
	<script type="text/javascript" src="http://cdn.datatables.net/plug-ins/3cfcc339e89/integration/bootstrap/3/dataTables.bootstrap.js"></script>
	<script type="text/javascript">var switchTo5x=true;</script>
	<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
	<script type="text/javascript">stLight.options({publisher: "1df9b28e-9bb1-46a7-9e87-f19ff970f804", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>

	<script>
		$(document).ready( function () {
		    $('#table_id').DataTable({
			    "iDisplayLength": 5,
			    "aLengthMenu":[5,10,25,50,100]
			  } );
		} );
	</script>
</head>

<body class="bootstrap-admin-with-small-navbar fontOpen">
	<div class="frame" style="margin-top:-30px">
		<!-- small navbar -->
        <nav class="navbar navbar-default navbar-fixed-top bootstrap-admin-navbar-sm" role="navigation">
            <div class="container">
                <div class="collapse navbar-collapse">
                    
                    <ul class="nav navbar-nav navbar-right">                        
                        <li class="dropdown">
                            <a href="#" role="button" class="dropdown-toggle" data-hover="dropdown"> <i class="glyphicon glyphicon-user"></i> Admin <i class="caret"></i></a>
                            <ul class="dropdown-menu">                                                                
                                <li><a href="/admin/logout/">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            <!-- left, vertical navbar & content -->
            <div class="row">
                <!-- left, vertical navbar -->

                <div class="col-md-2 bootstrap-admin-col-left">

                    <ul class="nav navbar-collapse collapse bootstrap-admin-navbar-side">
                    	<a href=""><img src="{% static 'img/logo.png' %}" class="img-table"></a>
                        <li class="">
                            <a href="{% url 'admin.index' %}"><i class="glyphicon glyphicon-chevron-right"></i> Daftar Donasi</a>
                        </li>
                        <li class="">
                            <a href="{% url 'admin.upload_laporan' %}"><i class="glyphicon glyphicon-chevron-right"></i> Upload Laporan</a>
                        </li>
                        <li class="">
                            <a href="{% url 'admin.upload.donasi' %}"><i class="glyphicon glyphicon-chevron-right"></i> Upload Data Donasi</a>
                        </li>
                        <li class="">
                            <a href="{% url 'admin.laporan_keuangan' %}"><i class="glyphicon glyphicon-chevron-right"></i> Keuangan</a>
                        </li>

                        <li class="">
                            <a href="{% url 'admin.laporan_list' %}"><i class="glyphicon glyphicon-chevron-right"></i> Daftar Laporan</a>
                        </li>

                        <li class="">
                            <a href="{% url 'admin.kirim.lpj' %}"><i class="glyphicon glyphicon-chevron-right"></i> Kirim LPJ</a>
                        </li>

                    </ul>
                </div>

        {% block content %}{% endblock %}

                <!-- footer -->
{% load static %}
            </div>
            </div>
        </div>
<<<<<<< HEAD
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
=======
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
>>>>>>> e265f5a047c32a3860a152eddc993a073fb351c3
        <script type="text/javascript" src="{% static 'js/twitter-bootstrap-hover-dropdown.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap-admin-theme-change-size.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.easy-pie-chart.js' %}"></script>
        <div class="navbar navbar-footer">
            <div class="container">
                <div class="row">
                    <footer role="contentinfo" >
                        <p class="left">Ramadhan For Kids</p>
                        <p class="right">&copy; 2015 <a href="http://fmse.cs.ui.ac.id" target="_blank" style="color:black">FMSE, Lab.</a></p>
                    </footer>
                </div>
            </div>
</body>
</html>