<!-- footer -->
{% load static %}

{#<script src="{% static 'js/jquery.js' %}"></script>#}
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/twitter-bootstrap-hover-dropdown.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-admin-theme-change-size.js' %}"></script>        
<script type="text/javascript" src="{% static 'js/jquery.easy-pie-chart.js' %}"></script>     
        <div class="navbar navbar-footer">
            <div class="container">
                <div class="row">
                    <footer role="contentinfo" >
                        <p class="left">Ramadhan For Kids</p>
                        <p class="right">&copy; 2015 <a href="http://rse.cs.ui.ac.id" target="_blank" style="color:black">RSE Lab, Fasilkom UI.</a></p>
                    </footer>
                </div>
            </div>
        </div>