{% extends  'ramadhan4kidsapp/admin/base.html' %}
{% load static %}
{% load currencytag %}

{% block content %}
	<div class="col-md-10">
		<div class="row">
			<div class="page-header bootstrap-admin-content-title">
				<h2>Upload Data Donasi
					</h2>

				<a href="{% url 'ramadhan4kidsapp:admin.index' %}" class="action">
					<button class="btn btn-sm btn-default">
						<i class="glyphicon glyphicon-chevron-left"></i>
						Back
					</button>
				</a>
			</div>
		</div>

		<div class="row">
			<div class="panel panel-default bootstrap-admin-no-table-panel">
				<div class="panel-heading">
					<div class="text-muted bootstrap-admin-box-title"> <span class="glyphicon glyphicon-upload"></span>  &nbsp;Upload Data Donasi Disini </div>

				</div>
				<div class="bootstrap-admin-panel-content bootstrap-admin-no-table-panel-content collapse in">


		<div class="admin-content">
			<div class="newprogram">
				<div class="container" style="width:100%">

					<form action="" class="form-horizontal" role="form" method="post" enctype="multipart/form-data">{% csrf_token %}
						{% if alert_success %}
							<div class="form-group">
								<label for="inputPassword3" class="col-sm-2 control-label"></label>
						    	<div class="col-sm-10">
						    		<div class="alert alert-{% if alert_success %}success{% else %}danger{% endif %} alert-dismissible" role="alert">
	  								<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>{% autoescape on %}{{ alert_msg }}{% endautoescape %}</div>
						    	</div>
							</div>
						{% endif %}

                        <div class="form-group">
					    	<label for="inputPassword3" class="col-sm-2 control-label">Program</label>
					    	<div class="col-sm-10">
                                <select type="text" class="form-control" name="program" required>
                                    <option value="">-- pilih program --</option>
                                    {% for program in programs %}
                                        <option value="{{ program.pk }}">{{ program }}</option>
                                    {% endfor %}

                                </select>
					    	</div>
					  	</div>

					  	<div class="form-group">
					    	<label for="inputPassword3" class="col-sm-2 control-label">Judul</label>
					    	<div class="col-sm-10">
					    		<input type="text" class="form-control" name="judul" id="" placeholder="" required>
					    	</div>
					  	</div>
                        <div class="form-group">
					    	<label for="inputPassword3" class="col-sm-2 control-label">Konten</label>
					    	<div class="col-sm-10">
					    		<textarea class="form-control" id="konten" name="konten" style="100%"></textarea>
					    	</div>
					  	</div>


						<div class="form-group">
							<label for="inputPassword3" class="col-sm-2 control-label">Gambar</label>
							<div class="col-sm-10 div-gambar">
								<div class="row">
									<div class="col-sm-3">
										<input type="file" class="form-control" name="foto" id="" placeholder="">
											<p class="help-block">Unggah file gambar dengan jenis jpg, png, atau gif</p>
									</div>

									<div class="col-sm-9">
										<input type="text" class="form-control" name="caption" id="" placeholder="Keterangan gambar (opsional)">
									</div>
								</div>
							</div>
							<br><br>
							<div class="col-sm-offset-2 col-sm-10">
								<div class="btn btn-success btn-gambar">tambah gambar</div>
							</div>
						</div>

					  	<div class="form-group">
					    	<div class="col-sm-offset-2 col-sm-10">
					      		<button type="submit" class="btn btn-primary">Upload</button>
					    	</div>
					  	</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
		</div>
		<script type="text/javascript">


	tinymce.init({
		selector: "#konten",
		theme: "modern",
		plugins: [
			"advlist autolink lists link image charmap print preview hr anchor pagebreak",
			"searchreplace wordcount visualblocks visualchars code fullscreen",
			"insertdatetime media nonbreaking save table contextmenu directionality",
			"emoticons template paste textcolor colorpicker textpattern image"
		],
		toolbar1: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
		toolbar2: "print preview media | forecolor backcolor emoticons",
		image_advtab: true,
		templates: [
			{title: 'Test template 1', content: 'Test 1'},
			{title: 'Test template 2', content: 'Test 2'}
		]
    });
	tinymce.get('#konten').focus();
	tinymce.triggerSave();
</script>
		{% endblock %}