	{% load static %}
    {% include "ramadhan4kidsapp/admin/header-admin.html" %}
	{% load currencytag %}
	<div class="col-md-10">
		
		<div class="row">
			<div class="page-header bootstrap-admin-content-title">
				<h1>Daftar Laporan</h1>

				<a href="" class="action">
					<button class="btn btn-sm btn-default">
						<i class="glyphicon glyphicon-chevron-left"></i>
						Back
					</button>
				</a>
			</div>
		</div>

		<div class="row">
			<div class="panel panel-default bootstrap-admin-no-table-panel">
				<div class="panel-heading">
					<div class="text-muted bootstrap-admin-box-title"> <span class="glyphicon glyphicon-tags"></span>  &nbsp; Daftar Laporan </div>
					<div class="pull-right"><span>
						<a href="{% url 'ramadhan4kidsapp:admin.add.laporan' %}" class="badge">Buat Laporan</a>
					</span></div>
				</div>
				<div class="bootstrap-admin-panel-content bootstrap-admin-no-table-panel-content collapse in">


		<div class="admin-content">
			<div class="program">
				<div class="container" style="width:100%">
					{% if alert_msg %}
						<div class="alert alert-{% if alert_success %}success{% else %}danger{% endif %} alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>{% autoescape on %}{{ alert_msg }}{% endautoescape %}</div>
					{% endif %}
				<div class="table">
					<table id="table_id" class="display">
						<thead>
							<tr>
								<th>No</th>
								<th>Tanggal</th>
								<th>Judul</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							{% for data in laporan_list %}
							<tr>
								<td>{{ forloop.counter }}</td>
								<td>
								{% autoescape on %}
									{{ data.posted_time|date:"d M Y" }}
								{% endautoescape %}</td>

								<td>{{ data.title|title }}</td>

								<td>
								<div class="btn-group" role="group" aria-label="...">

								<a href="#" data-toggle="modal" data-target="#delete-{{ data.id }}" class="btn btn-default btn-warning"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
								<a href="/admin/edit-laporan/{{data.id}}"  class="btn btn-default btn-default"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>

								</div>
								</td>

								<div id="foto-{{ data.id }}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
								  <div class="modal-dialog">
								    <div class="modal-content">

								      <div class="modal-header">
								        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								        <h4 class="modal-title">Bukti Transfer {{ data.donasi_donatur.donatur.nama }} </h4>
								      </div>

								      <div class="modal-body">
								      {% if data.bukti_transfer %}

								        <img src="http://{{ ABS_URL }}/{{ data.bukti_transfer }}" class="img-responsive">

								      {% else %}
								      	[tidak ada]
								      {% endif %}
								      </div>
								      <div class="modal-footer">
								        <button type="button" class="btn btn-default" data-dismiss="modal">Keluar</button>
								      </div>
								    </div>
								  </div>
								</div>

								<div id="delete-{{ data.id }}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
								  <div class="modal-dialog">
								    <div class="modal-content">

								      <div class="modal-header">
								        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								        <h4 class="modal-title">Konfirmasi Menghapus Donasi</h4>
								      </div>

								      <div class="modal-body">
								        <p>Apakah anda yakin akan menghapus donasi {{ data.jenis }} sebesar <strong>  </strong> dari donatur <strong> {{ data.donatur.nama }}</strong> ? Donasi yang dihapus tidak dapat dikembalikan</p>
								      </div>

								      <div class="modal-footer">
								        <button type="button" class="btn btn-default" data-dismiss="modal">Batalkan</button>
								        <a href="/admin/donasi/uang/delete/{{ data.id }}" class="btn btn-primary">Hapus Donasi</a>
								      </div>
								    </div>
								  </div>
								</div>

							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	</div>
	</div>
	</div>
	</div>
	{% include "ramadhan4kidsapp/admin/footer-admin.html" %}
</body>
</html>
