{% load static %}
{% load currencytag %}
{% include "ramadhan4kidsapp/admin/header-admin.html" %}

<style>

    table {
        width: 100%;
    }

thead, tbody, tr, td, th { display: block; }

tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

thead th {
    height: 30px;

    /*text-align: left;*/
}

tbody {
    height: 300px;
    overflow-y: scroll;
}

thead {
    /* fallback */
}


tfoot td, tbody td, thead th {
    width: 25%;
    float: left;
}
</style>
<!-- content -->
<div class="col-md-10">
	<div class="row">
		<div class="page-header">
			<h1><i style="   color: rgb(232, 232, 232);" class="glyphicon glyphicon-home"></i> &nbsp;Laporan Keuangan</h1>
		</div>
	</div>

	<div class="row">
		<div class="panel panel-default bootstrap-admin-no-table-panel">
			<div class="panel-heading">
				<div class="text-muted bootstrap-admin-box-title">Laporan Keuangan</div>
				<!--<div class="pull-right"><span class="badge"><a href="/{{ user.username }}/konfirmasi-donasi"><i class="glyphicon glyphicon-plus"></i>&nbsp;Konfirmasi Donasi</a></span></div>-->
			</div>
			<div class="bootstrap-admin-panel-content bootstrap-admin-no-table-panel-content collapse in">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th style="width:5%">No. </th>
                        <th>Tanggal</th>
                        <th style="width:40%">Keterangan</th>
                        <th>Jumlah</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in pengeluaran_list %}
                        <tr>
                            <td class="filterable-cell" style="width:5%"> {{ forloop.counter }}</td>
                            <td class="filterable-cell">{{ item.tanggal|date:"d M Y" }}</td>
                            <td class="filterable-cell" style="width:40%">{{ item.keterangan }}</td>
                            <td class="filterable-cell">{{ item.jumlah|currency }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                            <tr>
                                <td class="filterable-cell" style="width:5%">&nbsp;</td>
                                <td class="filterable-cell">&nbsp;</td>
                                <td class="filterable-cell" style="width:40%"><strong>Jumlah</strong></td>
                                <td class="filterable-cell"><strong>{{ total_pengeluaran|currency }}</strong></td>
                        </tr>
                    </tfoot>
                    </table>
			</div>
		</div>
	</div>


</div>
</div>
</div>

<!-- footer -->

{% include "ramadhan4kidsapp/admin/footer-admin.html" %}


</body>
</html>