<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% load currencytag %}
Assalamu'alaikum {{ nama_donatur|title }},<br>
<br>
Rincian donasi kamu adalah sebagai berikut:<br>
<br>
{% for item in list_donasi %}
    Paket {{ item.tipe_donasi.tipe }} - {{ item.tipe_donasi.nominal | currency }} x {{ item.jumlah }}<br>
{% endfor %}
<br>
berhasil disimpan. Silakan transfer donasi kamu sebesar {{ total_donasi | currency }} ke salah satu rekening berikut:<br>
<br>
{% for item in list_rekening %}
    {{ item.nama_bank }} - {{ item.no_rekening }}  a.n. {{ item.nama_pemilik_rek }}<br>
{% endfor %}
<br>
Setelah melakukan transfer, silakan konfirmasikan donasi kamu ke {{ link }}.<br>
<br>
Kami ucapkan terima kasih sebanyak-banyaknya atas donasi yang kamu berikan.<br>
<br>
<br>
<br>
Salam,<br>
<br>
<br>
Ramadhan For Kids<br>
<br>

</body>
</html>