<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.ico">

    <title>Login</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/user/bootstrap.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/user/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/user/font-awesome.min.css' %}" rel="stylesheet">


    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <script src="assets/js/modernizr.js"></script>
  </head>

  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">RAMADHAN FOR KIDS</a>
        </div>
      </div>  
    </div>

<div class="container mtb">
<div class="row" style="margin-top:100px">
<div class="col-md-4"></div>
<div class="col-md-4">
  <h4>Administrator Login</h4>
  
  <div class="hline" style="margin-bottom:7%"></div>
    <form role="form" method="post" enctype="multipart/form-data">{% csrf_token %}
      <div class="form-group">
        <label for="InputName1">username</label>
        <input type="username" name="username" class="form-control" id="exampleInputEmail1">
      </div>
      <div class="form-group">
        <label for="InputEmail1">password</label>
        <input type="password" name="password" class="form-control" id="exampleInputEmail1">
      </div>          
      <button type="login" class="btn btn-theme">Login</button>
    </form>
</div>
<div class="col-md-4"></div>
</div>
  </div>
</div>
  </body>
</html>      
