{% load static %}
{% load currencytag %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.ico">

    <title>Ramadhan For Kids</title>

    <!-- Bootstrap core CSS -->
    <!--<link href="{% static 'css/user/bootstrap.css' %}" rel="stylesheet">
	<link href="{% static 'css/user/bootstrap.min.css' %}" rel="stylesheet">-->
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <!-- Custom styles for this template -->
    <link href="{% static 'css/user/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/user/font-awesome.min.css' %}" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'css/full-slider.css' %}">

	<!-- Optional theme -->
	<!--<link rel="stylesheet" href="{% static 'css/user/bootstrap-theme.min.css' %}">-->

	<!-- Latest compiled and minified JavaScript -->
	  <!-- Your project file goes here -->
    <style>
          #blue {
            padding-top:10px;
          }
		  #service p {
			  color: #00b3fe;
			  font-size: 60px;
		      margin-bottom:30px;
		      margin-top:30px;
			}
		  /* Hide original text */
			.btn-keren:hover { font-size: 0; }

			/* Replace original text with value in data-hover */
			.btn-keren:hover:before {
				font-size: 14px;
				content: attr(data-hover);
			}
    </style>
</head>

<body>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class ="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="{% static "img/logo_2017.png" %}" width="60"></a>
          <!-- <ul class="nav navbar-nav">
            <li ><a href="/story" >HAPPY LITTLE SOUL</a></li>
          </ul> -->
          <div class="col-md-2 pull-right keranjangmenu mobile">
	        	<ul class="keranjangul">
	          	<li>
	                <a href="/keranjang-donasi">&nbsp;
	                <span class="fa fa-shopping-cart">&nbsp;
				    </span>
	                (
	                <span id="keranjang-counter-mobile">
					{% if request.session.item_keranjang_count %}
					  {{ request.session.item_keranjang_count }}
					{% else %}
						0
					{% endif%}
	                </span>
	                )
	                </a>
	            </li>
	          </ul>
	        </div>
        </div>
        <div class="col-md-2 pull-right keranjangmenu desktop">
        	<ul class="keranjangul">
          	<li>
                <a href="/keranjang-donasi">KERANJANG &nbsp;
                <span class="fa fa-shopping-cart">&nbsp;
			    </span>
                (
                <span id="keranjang-counter-desktop">
				{% if request.session.item_keranjang_count %}
				  {{ request.session.item_keranjang_count }}
				{% else %}
					0
				{% endif%}
                </span>
                )
                </a>
            </li>
          </ul>
        </div>
        <div class="navbar-collapse collapse menu">
          <ul class="nav navbar-nav">
            <li ><a href="/story" >OUR STORIES</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right nav1">

		{% block donasi%}

            <li><a href="/#service">DONASI</a></li>
		{% endblock %}

            <li ><a href="/konfirmasi-donasi" >KONFIRMASI</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>


   {% block content %}{% endblock %}

    <div id="footerwrap" style="margin-top:5%">
	 	<div class="container">
		 	<div class="row">
		 		<div class="col-lg-4">
		 			<h4>Tentang Kami </h4>
		 			<div class="hline-w"></div>
		 			<p>Ramadhan adalah bulan yang mulia dan penuh keberkahan. Ramadhan for Kids memiliki visi untuk berbagi ilmu dan keceriaan dengan anak-anak di bulan ramadhan. Project ini rencana dijalankan setiap tahun di bulan ramadhan dengan tema yang berbeda-beda. </p>
		 		</div>
		 		<div class="col-lg-4">
		 			<h4>Temukan Kami di</h4>
		 			<div class="hline-w"></div>
		 			<p>
		 				<a href="mailto:ramadhanforkids@gmail.com"><i class="fa fa-envelope"></i></a>ramadhanforkids@gmail.com<br/>
		 				<a href="http://twitter.com/ramadhanforkids"><i class="fa fa-twitter"></i></a>ramadhanforkids<br/>
		 				<a href="http://instagram.com/ramadhanforkids"><i class="fa fa-instagram"></i></a>ramadhanforkids<br/>
		 			</p>
		 		</div>
		 		<div class="col-lg-4">
		 			<h4>Alamat Kami</h4>
		 			<div class="hline-w"></div>
		 			<p>
		 				Beji, Depok, Jawa Barat<br/>
		 				Indonesia<br/>
		 			</p>
		 		</div>

		 	</div><! --/row -->
		 	<div class="row">
		 		<div class="col-lg-4"></div>
		 		<div class="col-lg-4"></div>
		 		<div class="col-lg-4">
		 		<h4>Administrator Login</h4>
		 		<div class="hline-w"></div>
		 			<p><a href="/login/">login</a></p>
		 		</div>
		 	</div><! --/row -->
	 	</div><! --/container -->
	 </div><! --/footerwrap -->
  </body>
	<script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/accounting.min.js' %}"></script>
	<script src="{% static 'js/script.js' %}"></script>
	<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</html>