{% extends  'ramadhan4kidsapp/user/base.html' %}
{% load static %}
{% load currencytag %}

{% block content %}
	
	<!-- *****************************************************************************************************************
	 BLUE WRAP
	 ***************************************************************************************************************** -->
	<div id="blue">
	    <div class="container">
			<div class="row">
				<h5>Keranjang / Isi Identitas / Simpan Donasi</h5>
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /blue -->

	<!-- *****************************************************************************************************************
	 DONATIONBOX
	 ***************************************************************************************************************** -->

	<div class="container mtb">
    <ul class="nav nav-pills nav-justified">
            <li role="presentation" class="active"><a href="{% url 'ramadhan4kidsapp:user.keranjang' %}">1. Keranjang</a></li>
            <li role="presentation" class="active"><a href="{% url 'ramadhan4kidsapp:user.isi_data' %}">2. Isi Data</a></li>
            <li role="presentation" class="active"><a href="{% url 'ramadhan4kidsapp:user.checkout' %}">3. Simpan Donasi</a></li>
        </ul>
        <br>
        <br>
        <br>
        <p>{% if error %} {{ error|safe }} {% endif %}</p>
		<div class="panel panel-default">
		  <!-- Default panel contents -->
		  <div class="panel-heading">Detail Donasi</div>
		  <div class="panel-body">
		    <p>
		    	Nama&nbsp;:&nbsp;{{ nama_donatur }} </br>
		    	Email&nbsp;:&nbsp;{{ email_donatur }} </br>
		    	No Telepon&nbsp;:&nbsp;{{ no_hp_donatur }}
		    </p>
		  </div>
		  <!-- Table -->
		  <table class="table">
    		<th>Paket</th>
    		<th>Satuan</th>
    		<th>Kuantitas</th>
    		<th>Total</th>
    		<tbody>
    			{% for item in list_donasi %}
                    <tr id="{{ forloop.counter0 }}">
                        <td>Paket {{ item.tipe_donasi.tipe }}</td>
                        <td>{{ item.jumlah }}</td>
                        <td id="nominal-tipe-{{ item.tipe_donasi.tipe }}">{{ item.tipe_donasi.nominal| currency}}</td>
                        <td name="total-nominal-tipe" id="total-nominal-tipe-{{ item.tipe_donasi.tipe }}">{{ item.total_nominal | currency }}</td>
                    </tr>
			    {% endfor %}
                <tr>
                    <td></td>
                    <td ><strong>Jumlah Total</strong></td>
                    <td></td>
                    <td id="total-nominal"></td>
                    <td></td>
                </tr>
    		</tbody>
  		  </table>
		</div>
		<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
			<input type="hidden" value="1" name="simpan">
		 <button type="submit" class="btn btn-theme pull-right" >Simpan Donasi</button>
		</form>
	</div>	 
{% endblock %}

