	<!-- *****************************************************************************************************************
	 FOOTER
	 ***************************************************************************************************************** -->
	 <div id="footerwrap">
	 	<div class="container">
		 	<div class="row">
		 		<div class="col-lg-4">
		 			<h4>Tentang Kami</h4>
		 			<div class="hline-w"></div>
		 			<p>Ramadhan adalah bulan yang mulia dan penuh keberkahan. Ramadhan for Kids memiliki visi untuk berbagi ilmu dan keceriaan dengan anak-anak di bulan ramadhan. Project ini rencana dijalankan setiap tahun di bulan ramadhan dengan tema yang berbeda-beda.</p>
		 		</div>
		 		<div class="col-lg-4">
		 			<h4>Temukan Kami di</h4>
		 			<div class="hline-w"></div>
		 			<p>
		 				<a href="mailto:ramadhanforkids@gmail.com"><i class="fa fa-envelope"></i></a>ramadhanforkids@gmail.com<br/>
		 				<a href="http://twitter.com/ramadhanforkids"><i class="fa fa-twitter"></i></a>ramadhanforkids<br/>
		 				<a href="http://instagram.com/ramadhanforkids"><i class="fa fa-instagram"></i></a>ramadhanforkids<br/>
		 			
		 			</p>
		 		</div>
		 		<div class="col-lg-4">
		 			<h4>Alamat Kami</h4>
		 			<div class="hline-w"></div>
		 			<p>
		 				Beji, Depok, Jawa Barat <br>
						Indonesia<br>
		 			</p>
		 		</div>
		 	
		 	</div><! --/row -->
		 	<div class="row">
		 		<div class="col-lg-4"></div>
		 		<div class="col-lg-4"></div>
		 		<div class="col-lg-4">
		 		<h4>Administrator</h4>
		 		<div class="hline-w"></div>
		 			<p><a href="/admin-login/">login</a></p>
		 		</div>
		 	</div><! --/row -->
	 	</div><! --/container -->
	 </div><! --/footerwrap -->
	 
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/retina-1.1.0.js"></script>
	<script src="assets/js/jquery.hoverdir.js"></script>
	<script src="assets/js/jquery.hoverex.min.js"></script>
	<script src="assets/js/jquery.prettyPhoto.js"></script>
  	<script src="assets/js/jquery.isotope.min.js"></script>
  	<script src="assets/js/custom.js"></script>