{% extends  'ramadhan4kidsapp/user/base.html' %}
{% load static %}
{% load currencytag %}

{% block content %}
      <!-- *****************************************************************************************************************
	 BLUE WRAP
	 ***************************************************************************************************************** -->
	<div id="blue">
	    <div class="container">
			<div class="row">
				<h5>Keranjang / Isi Identitas</h5>
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /blue -->

	    <div class="container">
        <div class="row no-margin">
        <ul class="nav nav-pills nav-justified">
            <li role="presentation" class="active"><a href="{% url 'ramadhan4kidsapp:user.keranjang' %}">1. Keranjang</a></li>
            <li role="presentation" class="active"><a href="{% url 'ramadhan4kidsapp:user.isi_data' %}">2. Isi Data</a></li>
            <li role="presentation" class=""><a href="{% url 'ramadhan4kidsapp:user.checkout' %}">3. Simpan Donasi</a></li>
        </ul>
        <br>
        <br>
        <br>
  <div class="content-form">

      {% if error %}
            <div class="well">
                {{ error|safe }}
            </div>
      {% else %}
        <h4>Isikan Data Diri Anda</h4>
        <div class="hline"></div>
          <p>Data diri Anda kami perlukan untuk konfirmasi donasi yang akan Anda berikan</p>
          <form role="form" enctype="multipart/form-data" method="post">{% csrf_token %}
            <div class="form-group">
              <label for="InputName1">Nama Anda</label>
              <input type="text" name="nama" class="form-control" id="exampleInputEmail1" required>
            </div>
            <div class="form-group">
              <label for="InputEmail1">Alamat Email</label>
              <input type="email" name="email" class="form-control" id="exampleInputEmail1" required>
            </div>
            <div class="form-group">
              <label for="InputSubject1">Nomor HP/Telepon</label>
              <input type="text" name ="no_hp" class="form-control" id="exampleInputEmail1" required>
            </div>
            <button type="submit" class="btn btn-theme pull-right">Lanjutkan >></button>
          </form>
      {%  endif %}
        </div>
    </div>
        </div>
</div>
{% endblock %}