{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.ico">

    <title>Ramadhan For Kids</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/user/bootstrap.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/user/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/user/font-awesome.min.css' %}" rel="stylesheet">

    <script src="{% static 'js/user/bootstrap.min.js' %}"></script>


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="assets/js/modernizr.js"></script>
	  <script>/*<![CDATA[*/!window.QUnit && document.write('<script src="inc/qunit.js"><\/script>')/*]]>*/</script>
	<script src="http://swarm.simplecartjs.com/js/inject.js"></script>

	  <!-- Your project file goes here -->
	  <style>
		  #service p {
			  color: #00b3fe;
			  font-size: 60px;
		      margin-bottom:30px;
		      margin-top:30px;
			}
		  /* Hide original text */
			.btn-keren:hover { font-size: 0; }

			/* Replace original text with value in data-hover */
			.btn-keren:hover:before {
				font-size: 14px;
				content: attr(data-hover);
			}
	  </style>
	  
  </head>