{% extends  'ramadhan4kidsapp/user/base.html' %}
{% load static %}
{% load costum_tags %}

{% block content %}
	<!-- *****************************************************************************************************************
	 HEADERWRAP
	 ***************************************************************************************************************** -->
<div id="headerwrap">
	    <div class="container-fluid">
			<div class="row">
				<!--<div class="col-lg-8 col-lg-offset-2">

					<h1>Ramadhan For Kids</h1>
					<h4>Ramadhan bulan penuh berkah, idul fitri adalah hari kemenangan. Kebahagiaan anak-anak saat ramadhan kadang begitu sederhana: baju baru. Namun masih banyak anak-anak yang memiliki keterbatasan untuk membelinya. Kami dari Komunitas Ramadhan for Kids mengajak untuk berbagi kebahagiaan di bulan Ramadhan dengan memberikan paket baju lebaran dan alat shalat untuk anak-anak yatim dan dhuafa yang tinggal di bantaran sungai dan rel kereta api di sekitar Jakarta dan Depok.</h4>
					
					
				</div>-->

					<!--*****slider*****-->

					<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
					  <!-- Indicators -->
					  <ol class="carousel-indicators">
					    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
					    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
					    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
					    <!-- <li data-target="#carousel-example-generic" data-slide-to="3"></li> -->
					  </ol>

					  <!-- Wrapper for slides -->
					  <div class="carousel-inner" role="listbox">
					    <div class="item active">
					       <img src="{% static "img/slider-1.png" %}" style="width:100%;">
					      <div class="carousel-caption">
					      </div>
					    </div>
				<!-- 	    <div class="item">
					      <img src="{% static "img/slider-2.png" %}">
					      <div class="carousel-caption">
					      </div>
					    </div>
					    <div class="item">
					      <img src="{% static "img/slider-3.png" %}">
					      <div class="carousel-caption">
					      </div>
					    </div> -->
					  </div>

					  <!-- Controls -->
					  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
					    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					    <span class="sr-only">Previous</span>
					  </a>
					  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
					    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					    <span class="sr-only">Next</span>
					  </a>
					</div>

			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /headerwrap -->

	<!-- *****************************************************************************************************************
	 TESTIMONIALS
	 ***************************************************************************************************************** -->
	 <div class="section" id="twrap">
	 	<div class="container-fluid centered">
	 		<div class="row">
	 			<div class="col-lg-8 col-lg-offset-2">
	 			<i class="fa fa-comment-o"></i>
	 			<p class="quote">“Barang siapa yang mengasuh tiga anak yatim, maka bagaikan bangun pada malam hari dan puasa pada siang harinya, dan bagaikan orang yang keluar setiap pagi dan sore menghunus pedangnya untuk berjihad di jalan Allah. Dan kelak di surga bersamaku bagaikan saudara, sebagaimana kedua jari ini, yaitu jari telunjuk dan jari tengah.”</h5></p>
	 			<h4><br/>(H.R. Ibnu Majah)</h4>
	 			</div>
	 		</div><! --/row -->

	 	</div><! --/container -->
	 </div><! --/twrap -->

	<!-- *****************************************************************************************************************
	 SERVICE LOGOS
	 ***************************************************************************************************************** -->
	
	<div class="section" id="service">
	 	<div class="container">
 			<div class="row centered">

 				<h3 class="headline"><span>PILIH PAKET DONASI KAMU</span></h3>

                {% if current_tipe_donasi %}
                    {% for paket in current_tipe_donasi %}
                        <div class="col-md-6 col-paket">
                        {% with 'img/'|add:paket.tipe|add:'.png' as gambar_paket %}
                        	<a  href="" data-toggle="modal" data-target="#myModal{{ paket.tipe }}">
                        		<img src="{% static gambar_paket %}">
                        	</a>                            
                            <h3><strong>{{ paket.nama }}</strong></h3>
                            <h4>{{ paket.nominal|currency }}</h4>
                            <br/>
                            <a class="btn btn-theme" onclick="addToCart('{{ paket.tipe }}')"> Add to Cart</a>
                        </div>
                        {% endwith %}
                    {% endfor %}

                    	<!--Region Modal Deskripsi Pakte-->
                    	<div class="modal fade" id="myModala" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="padding-top: 5%;">
						  <div class="modal-dialog" role="document">
							<div class="modal-content col-lg-6 col-lg-offset-3">
							  <div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="myModalLabel">Happy Praying</h4>
							  </div>
							  <div class="modal-body">
								 Happy Praying merupakan paket hadiah yang berisi perlengkapan ibadah seperti alat shalat mukena/sarung dan peci, sajadah, juz amma, iqro dan/atau al quran yang ditujukan untuk anak-anak dan orang tua dengan harapan dapat menjadi penyemangat bagi mereka untuk lebih bersemangat dalam beribadah.
							  </div>
							  <div class="modal-footer">
								<button type="button" class="btn btn-primary" data-dismiss="modal">Tutup</button>
							  </div>
							</div>
						  </div>
						</div>
						<div class="modal fade" id="myModalb" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="padding-top: 5%;">
						  <div class="modal-dialog" role="document">
							<div class="modal-content col-lg-6 col-lg-offset-3">
							  <div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="myModalLabel">Happy Learning</h4>
							  </div>
							  <div class="modal-body">
								Happy Learning merupakan paket hadiah yang berisi perlengkapan belajar baik untuk sekolah maupun non sekolah seperti alat tulis, buku bacaan, tas, sepatu dan/atau seragam sekolah yang diharapkan dapat membantu proses pembelajaran anak-anak sehingga lebih bersemangat dalam belajar.
							  </div>
							  <div class="modal-footer">
								<button type="button" class="btn btn-primary" data-dismiss="modal">Tutup</button>
							  </div>
							</div>
						  </div>
						</div>
						<div class="modal fade" id="myModalc" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="padding-top: 5%;">
						  <div class="modal-dialog" role="document">
							<div class="modal-content col-lg-6 col-lg-offset-3">
							  <div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="myModalLabel">Happy Growing</h4>
							  </div>
							  <div class="modal-body">		
							  	Happy Growing merupakan paket hadiah yang berisi makanan/minuman sehat dan bergizi yang ditujukan kepada keluarga yang membutuhkan dengan harapan dapat memberikan manfaat pertumbuhan yang lebih baik.
							  </div>
							  <div class="modal-footer">
								<button type="button" class="btn btn-primary" data-dismiss="modal">Tutup</button>
							  </div>
							</div>
						  </div>
						</div>
						<!--Region Modal Deskripsi Pakte-->
                {% else %}

                    <h3>Saat ini donasi belum dibuka</h3>
                    <h3>Untuk informasi lebih lanjut silakan hubungi kami melalui email, twitter atau instagram.</h3>
                    <h4>
                        <a href="mailto:ramadhanforkids@gmail.com"><i class="fa fa-envelope"></i></a>
                        <br/>
                        <span>ramadhanforkids@gmail.com</span>
                        <br/>
                        <a href="http://twitter.com/ramadhanforkids"><i class="fa fa-twitter"></i></a>
                        <br/>
                        <span>ramadhanforkids</span>
                        <br/>
                        <a href="http://instagram.com/ramadhanforkids"><i class="fa fa-instagram"></i>
                        <br/>
                        </a><span>ramadhanforkids</span>
                        <br/>
                    </h4>

                {% endif %}

 			</div>



            {% if current_tipe_donasi %}
                <div class="row centered">
                    <br/>
                    <!-- <a href="/keranjang-donasi" class="btn btn-theme btn-keren btn_proses" data-hover="&nbsp;&nbsp;Lihat Keranjang Donasi&nbsp;&nbsp;">Proses Donasi</a> -->
                    <a href="/keranjang-donasi" class="btn btn-theme btn-lg btn_proses btn-keren" data-hover="Lihat Keranjang Donasi">Proses Donasi</a>
                </div>
            {%  endif %}
	 	</div><! --/container -->
	 </div><! --/service -->
	
  </body>
</html>
{% endblock %}
