{% extends  'ramadhan4kidsapp/user/base.html' %}
{% load static %}
{% load currencytag %}
{% block donasi%}
<li><a href="/#service">DONASI</a></li>
{% endblock %}

{% block content %}

	<!-- *****************************************************************************************************************
	 BLUE WRAP
	 ***************************************************************************************************************** -->
	<div id="blue">
	    <div class="container">
			<div class="row">
				<h5>Keranjang</h5>
			</div><!-- /row -->

	    </div> <!-- /container -->
	</div><!-- /blue -->

	<!-- *****************************************************************************************************************
	 DONATIONBOX
	 ***************************************************************************************************************** -->

	<div class="container mtb">

        <ul class="nav nav-pills nav-justified">
            <li role="presentation" class="active"><a href="{% url 'ramadhan4kidsapp:user.keranjang' %}">1. Keranjang</a></li>
            <li role="presentation" class=""><a href="{% url 'ramadhan4kidsapp:user.isi_data' %}">2. Isi Data</a></li>
            <li role="presentation" class=""><a href="{% url 'ramadhan4kidsapp:user.checkout' %}">3. Simpan Donasi</a></li>
        </ul>
        <br>
        <br>
        <br>
        {% if error %}
            {{ error|safe }}
        {% else %}
            <a class="btn btn-primary" href="/#service">Tambah Paket</a>
        {%  endif %}

		<div class="panel panel-default">
		  <!-- Default panel contents -->
		  <div class="panel-heading">Paket Donasi Anda</div>

		  <!-- Table -->
		  <table class="table" id="table-keranjang">
    		<th>Paket</th>	
                <th>Kuantitas</th>
                <th>Satuan</th>
    		<th>Total</th>
    		<tbody>
			{% for item in list_donasi %}
    			<tr id="{{ forloop.counter0 }}">
    				<td>Paket {{ item.tipe_donasi.tipe }}</td>
                    <td>
                        <input
                                id="jumlah-paket-tipe-{{ item.tipe_donasi.tipe }}"
                                type="number" value="{{ item.jumlah }}" min="1"
                                onchange="updateTotalNominalByType('{{ item.tipe_donasi.tipe }}', {{ item.tipe_donasi.nominal }}, 'total-nominal-tipe-{{ item.tipe_donasi.tipe }}', 'jumlah-paket-tipe-{{ item.tipe_donasi.tipe }}')"
                        />
                    </td>
    				<td id="nominal-tipe-{{ item.tipe_donasi.tipe }}">{{ item.tipe_donasi.nominal| currency}}</td>
                    <td name="total-nominal-tipe" id="total-nominal-tipe-{{ item.tipe_donasi.tipe }}">{{ item.total_nominal | currency }}</td>
					<td><a class="btn btn-danger" onclick="removeKeranjangItem(this, '{{ item.tipe_donasi.tipe }}')">hapus</a></td>
    			</tr>
			{% endfor %}
                <tr>
                    <td></td>
                    <td ><strong>Jumlah Total</strong></td>
                    <td></td>
                    <td id="total-nominal"></td>
                    <td></td>
                </tr>
    		</tbody>
  		  </table>
		</div>

		{% if not error %}
		 	<a href="/isi-identitas-donatur" class="btn btn-theme pull-right" >Lanjutkan >></a>
		{% endif %}
	</div>

{% endblock %}
