{% load static %}
<!DOCTYPE html>
<html lang="en">
 {% include 'ramadhan4kidsapp/user/header.html' %}
  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
         <a class="navbar-brand" href="/">RAMADHAN FOR KIDS</a>
        </div>
        <div class="navbar-collapse collapse navbar-right">
          <ul class="nav navbar-nav">
                          <li><a href="/keranjang-donasi">Keranjang &nbsp;<i class="fa fa-shopping-cart">&nbsp;

				{% if donasi_list_count %}
				  ({{ donasi_list_count }})
               {% else %}
					(0)
				{% endif%}

			</i>
            </a></li>
            <li><a href="/konfirmasi-donasi">KONFIRMASI</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

	<div id="blue" style="margin-bottom:-50px">
	    <div class="container">
			<div class="row">
				<h5>Konfirmasi</h5>
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /blue -->

    <div id="portfoliowrap">
      <div class="container mtb">
        <div class="portfolio-centered">

          {% if sukses %}
            <h1>Sukses</h1>
            <h3>Konfirmasi Donasi Anda Berhasil.</h3>
          {% else %}
            <h1>Gagal</h1>
            <h3>Konfirmasi Donasi Anda Tidak Berhasil.</h3>
            <h3>Pastikan Kode, Email dan Semua Isian Telah Diisi Dengan Benar.</h3>
          {% endif %}
        </div>
      </div>
    </div>


    {% include "ramadhan4kidsapp/user/footer.html" %}
  </body>
</html>
