{% extends  'ramadhan4kidsapp/user/base.html' %}
{% load static %}
{% load currencytag %}
{% block donasi %}

<li><a href="/#service">DONASI</a></li>
{% endblock %}

{% block content %}

    <!-- *****************************************************************************************************************
	 BLUE WRAP
	 ***************************************************************************************************************** -->
	<div id="blue" style="margin-bottom:10px">
	    <div class="container">
			<div class="row">
				<h5>Konfirmasi Donasi</h5>
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /blue -->

<!-- *****************************************************************************************************************
   CONTACT FORMS
   ***************************************************************************************************************** -->

   <div class="container mtb">
	<div class="row no-margin">
    <div class="content-form">
        <h4>Konfirmasi Donasi</h4>
        <div class="hline"></div>
          <p>Masukkan kode yang sudah dikirimkan ke email Anda.</p>
          <form role="form" method="post" id="form-konfirmasi"enctype="multipart/form-data">{% csrf_token %}
            <div class="form-group">
              <label for="InputName1">Kode Donasi</label>
              <input type="text" name="kode" class="form-control" value="{{ request.GET.kode }}" id="kode" required>
            </div>
            <div class="form-group">
              <label for="InputEmail1">Email Anda</label>
              <input type="email" name="email" class="form-control" value="{{ request.GET.email }}" id="email" required>
            </div>
              <div class="form-group">
              <label for="InputEmail1">Pilih Bank Anda Gunakan Untuk Transfer</label>
                  <select class='form-control' name="bank" id="" required>
                      <option value=""> -- pilih bank --</option>
                      {% for bank in banks %}
                        <option value="{{ bank.id }}">{{ bank.nama_bank}} - {{ bank.no_rekening }} a.n. {{ bank.nama_pemilik_rek }}</option>
                      {% endfor %}
                  </select>
            </div>
            <div class="form-group">
              <label for="InputSubject1">Upload Bukti Transfer</label>
              <input type="file" name="bukti" class="form-control" id="exampleInputEmail1" required>
            </div>
            
            <button type="submit" class="btn btn-theme">Konfirmasi</button>
          </form>
        </div>
      </div>
   </div><! --/container -->

   <script type="text/javascript">
     function GetURLParameter(sParam)
        {
            var sPageURL = window.location.search.substring(1);
            var sURLVariables = sPageURL.split('&');
            for (var i = 0; i < sURLVariables.length; i++) 
            {
                var sParameterName = sURLVariables[i].split('=');
                if (sParameterName[0] == sParam) 
                {
                    return sParameterName[1];
                }
            }
        }

        $('#form-konfirmasi input[name=kode]').val(GetURLParameter('kode'));
        $('#form-konfirmasi input[name=email]').val(GetURLParameter('email'));

   </script>

{% endblock %}
