{% extends  'ramadhan4kidsapp/user/base.html' %}
{% load static %}
{% load currencytag %}

{% block content %}
<script type="text/javascript" src="{% static 'jassor-slider/js/jquery-1.9.1.min.js' %}"></script>
                                                <!-- use jssor.slider.mini.js (40KB) instead for release -->
                                                <!-- jssor.slider.mini.js = (jssor.js + jssor.slider.js) -->
                                                <script type="text/javascript" src="{% static 'jassor-slider/js/jssor.js' %}"></script>
                                                <script type="text/javascript" src="{% static 'jassor-slider/js/jssor.slider.js' %}"></script>
                                                <script>
                                                    jQuery(document).ready(function ($) {
                                                        var options = {
                                                            $AutoPlay: true,                                    //[Optional] Whether to auto play, to enable slideshow, this option must be set to true, default value is false
                                                            $AutoPlayInterval: 4000,                            //[Optional] Interval (in milliseconds) to go for next slide since the previous stopped if the slider is auto playing, default value is 3000
                                                            $SlideDuration: 500,                                //[Optional] Specifies default duration (swipe) for slide in milliseconds, default value is 500
                                                            $DragOrientation: 3,                                //[Optional] Orientation to drag slide, 0 no drag, 1 horizental, 2 vertical, 3 either, default value is 1 (Note that the $DragOrientation should be the same as $PlayOrientation when $DisplayPieces is greater than 1, or parking position is not 0)
                                                            $UISearchMode: 0,                                   //[Optional] The way (0 parellel, 1 recursive, default value is 1) to search UI components (slides container, loading screen, navigator container, arrow navigator container, thumbnail navigator container etc).

                                                            $ThumbnailNavigatorOptions: {
                                                                $Class: $JssorThumbnailNavigator$,              //[Required] Class to create thumbnail navigator instance
                                                                $ChanceToShow: 2,                               //[Required] 0 Never, 1 Mouse Over, 2 Always

                                                                $Loop: 1,                                       //[Optional] Enable loop(circular) of carousel or not, 0: stop, 1: loop, 2 rewind, default value is 1
                                                                $SpacingX: 3,                                   //[Optional] Horizontal space between each thumbnail in pixel, default value is 0
                                                                $SpacingY: 3,                                   //[Optional] Vertical space between each thumbnail in pixel, default value is 0
                                                                $DisplayPieces: 6,                              //[Optional] Number of pieces to display, default value is 1
                                                                $ParkingPosition: 253,                          //[Optional] The offset position to park thumbnail,

                                                                $ArrowNavigatorOptions: {
                                                                    $Class: $JssorArrowNavigator$,              //[Requried] Class to create arrow navigator instance
                                                                    $ChanceToShow: 2,                               //[Required] 0 Never, 1 Mouse Over, 2 Always
                                                                    $AutoCenter: 2,                                 //[Optional] Auto center arrows in parent container, 0 No, 1 Horizontal, 2 Vertical, 3 Both, default value is 0
                                                                    $Steps: 6                                       //[Optional] Steps to go for each navigation request, default value is 1
                                                                }
                                                            }
                                                        };

                                                        var jssor_slider1 = new $JssorSlider$("slider1_container", options);

                                                        //responsive code begin
                                                        //you can remove responsive code if you don't want the slider scales while window resizes
                                                        function ScaleSlider() {
                                                            var parentWidth = jssor_slider1.$Elmt.parentNode.clientWidth;
                                                            if (parentWidth)
                                                                jssor_slider1.$ScaleWidth(Math.min(parentWidth, 720));
                                                            else
                                                                window.setTimeout(ScaleSlider, 30);
                                                        }
                                                        ScaleSlider();

                                                        $(window).bind("load", ScaleSlider);
                                                        $(window).bind("resize", ScaleSlider);
                                                        $(window).bind("orientationchange", ScaleSlider);
                                                        //responsive code end
                                                    });
                                                </script>
<!-- *****************************************************************************************************************
	 BLUE WRAP
	 ***************************************************************************************************************** -->
	<div id="blue">
	    <div class="container">
			<div class="row">
				<h5>Kisah Ramadhan For Kids 2015 "Baju Baru Alhamdulillah"</h5>
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /blue -->
	<!-- *****************************************************************************************************************
	 MIDDLE CONTENT
	 ***************************************************************************************************************** -->

	 <div class="container mtb">
	 	<div class="row">

			{% for story in story_list %}

			  <div class="col-md-4">
				<div class="thumbnail">
					<a  href="" data-toggle="modal" data-target="#myModal{{ story.id }}"><img style="width:100%;height:300px" src="../../{{ story.foto_set.all.0.gambar }}" alt="..."></a>
				  <div class="caption">
					  <p>{{story.posted_time|date:'d M y'}}</p>
					<h3>{{story.title}}</h3>
					</div>
				</div>
				  <div class="modal fade" id="myModal{{ story.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				  <div class="modal-dialog" role="document">
					<div class="modal-content col-lg-8 col-lg-offset-2">
					  <div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">{{story.title}}</h4>
					  </div>


					  <div class="modal-body">
						 {% autoescape on %}
							{{story.content|safe}}
						  {% endautoescape %}
					  </div>
					  <div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal">Tutup</button>
					  </div>
					</div>
				  </div>
				</div>
			  </div>
			{% endfor %}
		</div>
	 </div><! --/container -->
	 </div><! --/twrap -->
{% endblock %}
