{% load static %}
<!DOCTYPE html>
<html lang="en">
 {% include 'ramadhan4kidsapp/user/header.html' %}
  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
         <a class="navbar-brand" href="/">RAMADHAN FOR KIDS</a>
        </div>
        <div class="navbar-collapse collapse navbar-right">
          <ul class="nav navbar-nav">
                          <li><a href="/keranjang-donasi">Keranjang &nbsp;<i class="fa fa-shopping-cart">&nbsp;

				{% if donasi_list_count %}
				  ({{ donasi_list_count }})
               {% else %}
					(0)
				{% endif%}

			</i>
            </a></li>
            <li><a href="/konfirmasi-donasi">KONFIRMASI</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

	<div id="blue" style="margin-bottom:-50px">
	    <div class="container">
			<div class="row">
				<h5>Keranjang / Isi Identitas / Simpan Donasi / Sukses</h5>
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /blue -->

    <div id="portfoliowrap">
      <div class="container mtb">
        <div class="portfolio-centered">
          <h1>Selamat</h1>
          <h3>Informasi donasi Anda telah tersimpan.</h3>
          <h3>Silakan transfer donasi Anda ke salah satu rekening berikut:</h3>
          {% for bank in banks %}
            <h4>{{ bank.nama_bank }} - {{ bank.no_rekening }} a.n. {{ bank.nama_pemilik_rek }}</h4>
          {% endfor %}
          <h3>Cek email Anda untuk mendapat kode konfirmasi donasi</h3>
        </div>
      </div>
    </div>


    {% include "ramadhan4kidsapp/user/footer.html" %}
  </body>
</html>
